{% extends 'ngRadar_Website/base.html' %}
{% load static %}

{% block title %}History Events Table{% endblock %}

{% block content %}

<div
    class="dashboard-wrapper d-flex flex-column min-vh-100"
    data-color-mode="SDS-light"
>

    <script>
        window.addEventListener('pageshow', function (event) {
            if (event.persisted) {
                window.location.reload();
            }
        });
    </script>

    <main class="flex-grow-0 container-fluid px-4 pt-4 pb-10">

        <div
            id="dashboard-content"
            hx-get="{% url 'event_table_update' %}"
            hx-trigger="observatoryEventCreated from:body"
            hx-target="#dashboard-content"
            hx-swap="innerHTML"
            class="w-100"
        >
            {% include 'ngRadar_Website/partials/dashboard_updates.html' %}
        </div>

    </main>

    <div class="Chart_padding" style="padding-top: 30px;"></div>

    {% include 'ngRadar_Website/partials/latency_graph.html' %}

</div>

{% endblock %}


{% block scripts %}

<script src="{% static 'ngRadar_Website/js/history_events.js' %}"></script>

{% endblock %}