{% extends 'ngRadar_Website/base.html' %}

<!-- Don't need to load static since it is in the base-->

{% block title %}History Events Table{% endblock %}

{% block content %}

<!-- Style Sheets and HTMX were previously linked here but this is not necessary since we include the "extends base" statement-->

<div class="dashboard-wrapper d-flex flex-column min-vh-100" data-color-mode="SDS-light">
       
</header>
    <!-- The following Script prevents display of a webpage from browser cache. This needs to be in the html head to work correctly -->
    <!-- This was added specifically to fix the issue with Safari -->
    <script>
    window.addEventListener('pageshow', function (event) {
      if (event.persisted) {
        window.location.reload();
      }
    });
    </script>
    <main class="flex-grow-0 container-fluid px-4 pt-4 pb-10">

        <!-- Add a button which allows user to select the number of messages to display -->
        <!-- <div class="mb-3 p-3" style="border: 3px solid black; display: flex; align-items: center; gap: 12px; width: fit-content;">
            <label for="message-number-to-display" class="form-label" mb-0" style="white-space: nowrap;">
                Select the Number of Messages to Display
            </label>
            <select id="message-number-to-display" name="message_number" class="form-select" style="max-width: 80px; background-color: white; border: 2px solid #2b2b2b; text-align: center; text-align-last: center;">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </div> -->
        <div class="mb-3 p-3" style="border: 3px solid #000; display: flex; align-items: center; gap: 12px; width: fit-content;">
            <label for="message-number-to-display" class="form-label mb-0" style="white-space: nowrap;">
                Select the Number of Messages to Display
            </label>
            <select id="message-number-to-display" name="message_number" class="form-select text-center"
                    style="width: 80px; height: 32px; background-color: white; border: 2px solid #2b2b2b; text-align: center; text-align-last: center;">
                <option value="10" style="text-align: center;">10</option>
                <option value="25" style="text-align: center;">25</option>
                <option value="50" style="text-align: center;">50</option>
            </select>
        </div>
        <!-- Polls the Django views every 3 seconds to refresh partial -->
        <div id="dashboard-content" 
             hx-get="{% url 'event_table_update' %}" 
             hx-trigger="every 3s" 
             hx-target="#dashboard-content"
             class="w-100">
            {% include 'ngRadar_Website/partials/dashboard_updates.html' %}
        </div>

    </main>

    <div class="Chart_padding" style="padding-top: 30px;"></div>
        {% include 'ngRadar_Website/partials/latency_graph.html' %}
    </div>


</div>
{% endblock %}